# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Built binaries
/cmd/conductor/conductor

# IDE
.idea/

/bin
/work-orders

# OS specific
.DS_Store
Thumbs.db

*.db